UT3-LM/C3_dtd/ExpedienteAcademico.dtd

<!ELEMENT expedientes (expediente+)>
<!ELEMENT expediente (titulacion,estudiante,modulos)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT estudiante (#PCDATA)>
<!ELEMENT modulos (modulo+)>
<!ELEMENT modulo EMPTY >

<!ATTLIST modulo nombre CDATA #REQUIRED>
<!ATTLIST modulo aprobado (true|false) #REQUIRED>
<!ATTLIST modulo curso (Primero|segundo) #REQUIRED>
<!ATTLIST expedientes noNamespaceSchemaLocation CDATA #REQUIRED>
